/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.placeholder {
  padding-top: 59%;
  background-color: #d8d8d8;
  margin: 2rem auto;
}
.contactLegal {
  margin-top: 2rem;
}
.contactLegal p {
  font-size: 0.75rem;
  color: #616161;
}
.heroBanner {
  padding: 6rem 0 11vw;
  text-align: center;
  position: relative;
  background: rgb(37, 37, 37);
  background-color: #252525;
}
.LPhero {
  padding: 6rem 0 4rem;
  text-align: center;
  position: relative;
  background-color: #f5f5f5;
  color: #000;
}
.lightHero {
  background-color: #fff !important;
}
.LPhero h1 {
  font-weight: 100;
}
.LPhero p {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
}
.containerLarge {
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
  max-width: 1920px;
}
.sdks {
}
.supportCardsIntro {
  margin-bottom: 4rem;
}
.guides {
  margin-top: 2rem;
}
.guides h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 1.5rem;
}
.guides p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}
.mainGray {
  background-color: #f5f5f5;
  padding: 0;
  border-bottom: 1px solid transparent;
}
.logoCallout {
  background-color: #f5f5f5;
  padding: 3rem 0;
  border-bottom: 1px solid transparent;
}
.callOutButton {
  background-color: #ff9900;
  border-color: #ff9900;
  text-transform: uppercase;
  color: #fff !important;
}
.logoMark {
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 1.25rem;
  margin: 0;
}
.awsMark {
  background-image: url(/img/aws-mark.png);
  padding-left: 169px;
  background-size: 129px 77px;
  min-height: 77px;
}
.githubMark {
  background-image: url(/img/github-mark.png);
  padding-left: 105px;
  background-size: 65px 64px;
  min-height: 64px;
}
.logoMark a {
  color: inherit;
  font-weight: 700;
}
.platformImage {
  margin-bottom: -20vw;
  position: relative;
  z-index: 100;
}
.platformImage .frame {
  max-width: 800px;
  margin: 0 auto;
  width: 80%;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}
.platformImage .frameImg {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionPadding {
  padding: 3rem 0;
}
.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}
.betaCalloutHeading {
  margin: 1.5rem 0;
  font-size: 1.625rem;
  color: #212121;
}
.betaCalloutParagraph {
  font-size: 1rem;
  line-height: 1.75;
  color: #444;
}
.normalParagraph {
  font-size: 1rem !important;
  line-height: 1.75;
}
.sdkLogosSection,
.guideCardSection,
.platformFAQSection,
.sampleAppsSection {
  padding: 3rem 0;
  text-align: center;
}
.sampleAppsSectionHeader {
  margin-bottom: 2.815rem;
}
.gettingStartedSection {
  padding-bottom: 3rem;
}
.gettingStartedSection h2 {
  text-align: center;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  margin-bottom: 5rem;
}
.gsGuideContent {
  position: relative;
}
.gsGuideContent h2 {
  font-size: 1.625rem;
  margin: 1rem 0;
  font-weight: 400;
  text-align: left;
}
.gsGuideContent p {
  font-size: 1rem;
}
.getStarted {
  text-transform: uppercase;
  color: #fff !important;
  background-color: var(--ifm-color-primary);
  border: none;
  margin: 3rem auto;
}
.getStarted:hover {
  background-color: #616161;
}
.callouts {
  display: flex;
  flex-flow: row wrap;
}
.useCaseHeader {
  padding: 4rem 0 1rem;
  text-align: center;
}
.useCaseHeader p {
  margin-bottom: 0;
}
.useCaseNav a {
  display: inline-block;
  cursor: pointer;
  color: var(--ifm-color-primary);
  padding: 0 1.5rem;
  border-right: 1px solid var(--ifm-color-primary);
}
.useCaseNav a:last-child {
  border-right: none;
}
.useCase {
  width: 100%;
}
.useCases {
  padding: 2rem 0 4rem;
}
.callouts .callout {
  padding: 3rem 0;
}
.callouts .callout:nth-child(2n) .calloutInfo {
  order: 1;
}
.callouts .callout:nth-child(2n) .calloutImage {
  order: 2;
}
.calloutContent h3 {
  line-height: 1.1875;
  font-weight: 400;
  color: #000;
  font-size: 3rem;
  margin: 0 0 2.25rem;
}
.calloutDescription {
  margin-bottom: 2.25rem;
  font-size: 1.125rem;
}
.jumpDoc {
  padding: 1rem;
}
.apiDocs,
.cliDocs {
  margin-bottom: 2rem;
}
.apiDocs > h2,
.cliDocs > h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.cardContent {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.guideCardContent {
  padding: 1rem;
  position: relative;
  z-index: 1;
  height: 100%;
}
.sdkLogosContent {
  padding: 1rem;
  text-align: center;
}
.sdkLogosContent p {
  margin: 0;
  line-height: 1.313;
}
.sdkFooter {
  text-align: right;
  padding-right: 2rem !important;
  margin: 1rem 0;
}
.logoLabel {
  display: inline-block;
  margin: 4px;
}
@media (hover: hover) {
  .cardContent:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  }
}
.sdkLogos {
  padding: 1rem;
}
.sdkLogo {
  max-width: 78px;
  width: 100%;
  margin-bottom: 1rem;
  display: inline-block;
  height: auto;
}
.sdkContent {
  padding: 1rem;
}
.guideCard {
  text-align: left;
  margin-bottom: 1rem;
}
.guideCard h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.sdkLinks,
.cardLinks {
  margin-top: auto;
  padding-top: 1rem;
}
.cardLinksButton {
  min-height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.callOutCardLink {
  text-align: center;
}
.sdkHero {
  padding-bottom: 18rem !important;
}
.sdkMargin {
  margin-top: -15rem;
  position: relative;
}
.logoLabel img {
  max-height: 28px;
  width: auto;
}
.guideCardContent p,
.cardContent p {
  color: #616161;
  margin-bottom: 0;
}
.jumpDocTarget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.exampleButtons {
  text-align: center;
}
.exampleButtons a {
  margin: 1rem;
}
.useCaseContent {
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  padding-top: 0;
}
.useCase img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.useCaseHeading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: var(--ifm-font-weight-light);
  line-height: 1;
}
@media only screen and (max-width: 1100px) {
  .useCaseNav {
    display: none;
  }
}
@media only screen and (max-width: 996px) {
  .logoMark {
    padding-left: 0;
    background-position: top 10px center;
    text-align: left;
  }
  .awsMark {
    padding-top: 80px;
    background-size: 68px;
  }
  .githubMark {
    padding-top: 84px;
    background-size: 70px;
    background-position: top center;
  }
  .useCaseContent {
    padding: var(--ifm-spacing-vertical) 2.75rem;
  }
  .callouts .callout:nth-child(2n) .calloutImage,
  .callouts .calloutImage {
    order: 1;
    margin-bottom: 1.5rem;
  }
  .callouts .callout:nth-child(2n) .calloutInfo,
  .callouts .calloutInfo {
    order: 2;
  }
  .gettingStartedSection h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 966px) {
  .features {
    padding: 4rem 0;
  }
  .heroBanner {
    padding: 2rem 0 11vw;
  }
}
